

.App {
  background-image: url(./bgimage.png);
  background-size: "cover";
  background-repeat: "no-repeat";

  text-align: center;
}

.App-logo {
  height: 15vmin;
  pointer-events: none;
}

Button {
  font-family: 'Poppins';
  font-size: 15px;
  background-color: rgb(68, 156, 181);
  margin: 2px;
  padding: 0.5%;
  color: white;
  border-radius: 10%;
  border-style: double;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(100px + 2vmin);
  color: white;
}


/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
 */